<?xml version="1.0" encoding="utf-8" ?>

<routes> 

	<route url="/crm-admin-oraimo" module="Crm" action="PageDacceuilArticleTable" />
	<route url="/crm-admin-oraimo/Ajoute-article" module="Crm" action="PageAjoutArticle" />
	<route url="/crm-admin-oraimo/promotion" module="Crm" action="Promotion" />
	<route url="/crm-admin-oraimo/Liste-promotion" module="Crm" action="PromotionTable" />
	<route url="/crm-admin-oraimo/commande" module="Crm" action="Commande" />

	<route url="/" module="GestionMaison" action="Connexion" />

</routes>