<?xml version="1.0" encoding="utf-8" ?>

<routes> 

	<route url="/crm-admin-oraimo" module="Crm" action="PageDacceuilArticleTable" />
	<route url="/crm-admin-oraimo/Ajoute-article" module="Crm" action="PageAjoutArticle" />
	<route url="/crm-admin-oraimo/promotion" module="Crm" action="Promotion" />
	<route url="/crm-admin-oraimo/Vendeur" module="Crm" action="Vendeur" />
	<route url="/crm-admin-oraimo/Demanpaiement" module="Crm" action="Demanpaiement" />
	<route url="/crm-admin-oraimo/Liste-promotion" module="Crm" action="PromotionTable" />
	<route url="/crm-admin-oraimo/commande" module="Crm" action="Commande" />
	<route url="/crm-admin-oraimo/commande_Annuler" module="Crm" action="CommandeAnnuler" />
	<route url="/crm-admin-oraimo/commande_Encours" module="Crm" action="CommandeEncours" />
	<route url="/crm-admin-oraimo/commande_Terminer" module="Crm" action="CommandeTerminer" />

	<route url="/crm-admin-oraimo/reduction" module="Crm" action="Reduction" />
	<route url="/crm-admin-oraimo/Liste-reduction" module="Crm" action="ReductionTable" />

	<route url="/" module="GestionMaison" action="Connexion" />

</routes>