<?xml version="1.0" encoding="utf-8" ?>

<routes> 
	<route url="/" module="oraimo" action="Index" />
	<route url="/code=(.*)" module="oraimo" action="Index" />
	<route url="/(.*)=(.*)" module="oraimo" action="Index" />
	<route url="/a/(.*)-([0-9]+)" module="oraimo" action="simple" vars="lien,id" ></route>
	<route url="/a/(.*)-([0-9]+)/(.*)" module="oraimo" action="simple" vars="lien,id" ></route>

</routes> 